<div>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <button type="button" class="navbar-toggler">
        <img src="assets/hamburger.gif" alt="menu">
    </button>
    <a href="#" class="navbar-brand flex-grow-1">
        <img id="logo" src="assets/tapp.png" alt="TAPP" height="100" class="mx-3">
    </a>
    <ul class="list-unstyled font-weight-bold">
        <li class="media media-avatar">
            <img src="" alt="" class="mr-2">
            <div class="media-body">
                <p class="h6 m-0">User</p>
                <small>Entrar no perfil</small>
            </div>
        </li>
        <li class="divider"></li>
        <li><a (click)="entrarMenu()" class="text-reset">Menu</a></li>
        <li><a (click)="entrarPainel()" class="text-reset">Painel</a></li>
        <li><a href="" class="text-reset">Visão</a></li>
        <li><a href="" class="text-reset">Valores</a></li>
        <li><a href="" class="text-reset">Produtos</a></li>
    </ul>
  </nav>
  <div class="container-fluid" style="margin-top: 120px;">
    <router-outlet></router-outlet>
  </div>
  <span class="backdrop" *ngIf="backdrop"></span>
</div>


